@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,500;1,100;1,200;1,400;1,500&display=swap");
body {
    margin: 0;
    font-family: "Raleway";
    text-align: center;
    min-width: 300px;
}

.link-menu {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #000;
}

body,
html {
    height: 100%;
}

.photo-boutique {
    width: 550px;
    height: auto;
}

.photo-produit {
    width: 100%;
    height: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}

.photo-panier {
    width: 100px;
    height: auto;
}

.photo-accueil {
    width: 450px;
    height: auto;
}

.line-heigt-small {
    line-height: 5px;
}

.w-31 {
    width: 31%;
}

.letter-spacing-3 {
    letter-spacing: 3px;
}

.font-weight-400 {
    font-weight: 400;
}

.w-70 {
    width: 70%;
}

.btn-acheter:hover {
    background-color: #373737;
}

.font-size-14 {
    font-size: 14px;
}

.w-18 {
    width: 18%;
}

.w-21 {
    width: 21%;
}

.w-12 {
    width: 12%;
}

.center-div {
    margin: 0 auto;
    float: none;
}

.part-1 {
    position: absolute;
    top: 25%;
    width: 70%;
    right: 10%;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .part-1 {
        position: absolute;
        top: 25%;
        width: 40%;
        right: 2%;
    }
}

@media (min-width: 1200px) {
    .part-1 {
        position: absolute;
        top: 25%;
        width: 25%;
        right: 2%;
    }
}

.boutique {
    height: 40vh;
}

.z-index-1 {
    z-index: 1;
}

.a-propos-text {
    font-size: 15px;
}

.content-panier {
    position: absolute;
    top: 80%;
    width: 350px;
    display: none;
    transition: display 2s;
}

.trier {
    position: absolute;
    right: 15%;
}

.liste-panier {
    font-size: 5vw;
}

.article-added-text {
    display: none;
    margin: 1% auto;
}