@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,500;1,100;1,200;1,400;1,500&display=swap");
body,
html {
    min-height: 100vh;
    min-width: auto;
}

body {
    margin: 0;
    font-family: "Raleway";
    text-align: center;
}

.link-menu {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #000;
}

.photo-boutique {
    width: 550px;
    height: auto;
}

.photo-boutique:hover {
    transform: scale(1.01);
}

.photo-produit {
    width: 100%;
    height: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.opacity-0 {
    opacity: 0;
}

.font-size-12 {
    font-size: 12px;
}

.opacity-1 {
    opacity: 1;
}

.photo-panier {
    width: 100px;
    height: auto;
}

.photo-page-panier {
    width: 80%;
    height: auto;
}

.photo-accueil {
    width: 450px;
    height: auto;
}

.line-heigt-small {
    line-height: 5px;
}

.w-31 {
    min-width: 31%;
}

.letter-spacing-3 {
    letter-spacing: 3px;
}

.font-weight-400 {
    font-weight: 400;
}

.w-70 {
    min-width: 70%;
}

.w-72 {
    min-width: 72%;
}

.btn-acheter:hover {
    background-color: #373737;
}

.font-size-14 {
    font-size: 14px;
}

.w-18 {
    min-width: 18%;
}

.w-21 {
    min-width: 21%;
}

.w-12 {
    min-width: 12%;
}

.w-15 {
    min-width: 15%;
}

.center-div {
    margin: 0 auto;
    float: none;
}

.part-1 {
    position: absolute;
    top: 25%;
    width: 70%;
    right: 10%;
}

.input-code-promo {
    width: 60%;
    font-size: 10px;
}

.submit-code-promo {
    width: 30%;
    font-size: 10px;
}

.min-w-300 {
    min-width: 300px;
}

.min-w-250 {
    min-width: 250px;
}

.form-search {
    width: 100%;
}

.boutique-input-search {
    width: 60%;
}

.boutique-submit-search {
    width: 35%;
}

.min-vh-75 {
    min-height: 75vh;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .part-1 {
        position: absolute;
        top: 25%;
        width: 40%;
        right: 2%;
    }
    .form-search {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .part-1 {
        position: absolute;
        top: 25%;
        width: 25%;
        right: 2%;
    }
    .link-menu a {
        font-size: 16px;
        font-weight: 400;
    }
    .input-code-promo {
        width: 65%;
        font-size: 12px;
    }
    .submit-code-promo {
        width: 30%;
        font-size: 12px;
    }
    .form-search {
        width: 50%;
    }
}

.boutique {
    height: 40vh;
}

.z-index-1 {
    z-index: 1;
}

.a-propos-text {
    font-size: 15px;
}

.content-panier {
    position: absolute;
    top: 80%;
    width: 350px;
    display: none;
    transition: display 2s;
}

.trier {
    position: absolute;
    right: 15%;
}

.liste-panier {
    font-size: 5vw;
}

.article-added-text {
    position: fixed;
    top: 50%;
    width: 50%;
    left: 25%;
    margin: 3% auto;
    display: none;
}

.set-border {
    border: 1px solid #000;
}

.focus-no-outline:focus {
    outline: unset;
}

.page-panier li {
    list-style-type: none;
    display: inline-block;
    font-size: calc(10px + 0.1vw);
    width: 19%;
}

.error-code-promo {
    display: none;
}